#files to ignore
*.pyc
config.py
docs/
pickles/
processed_data/
raw_data/
models/
collection_scripts_p3/
.AppleDouble/
.DS_Store
data_formatting_scripts/.DS_Store
util/
.idea/
*.whl
*.pkl
neon_models/
*.ipynb
*.sh
test_data/
