#files to ignore
*.pyc
config.py
docs/
pickles/
processed_data/
raw_data/
models/
collection_scripts/
.AppleDouble/
.DS_Store
.DS_Store
util/
.idea/
*.whl
*.pkl
neon_models/
*.ipynb
*.sh
test_data/
nets/
slim/
